header p{
    font-size: 20px;
}
div{
    background-color: aliceblue;
    border: 1px solid darkblue;
    padding: 10px;
    margin-right: 1160px;
}
figure{
    background-color: plum;
    border: 1px solid purple;
    margin-right: 1000px;
    padding: 10px;
    padding-right: 20px;
}
main p{
    font-size: 20px;
    font-family: sans-serif
}
a{
    text-decoration: none;
}
p img{
    background-color: aliceblue;
    border: 1px solid darkblue;
    padding: 10px;

}
footer{
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
